.done{
    text-decoration: line-through;
}
body{
	font-family: 'Raleway', sans-serif;
	background: linear-gradient(to right, rgb(13, 253, 134), rgb(32, 16, 34));
	padding-left: 100px;
}

ul{
	padding-top:15px;
	padding-bottom: 5px;
	width: 100px;

}

li{
	font-size: 18px;
	font-weight: bold;
	margin-right: 80%;
	height: 45px;
	width: 450px;
}
li:hover{
font-size: 130%;

}
#input{
	border-radius: 5px;
	height: 37px;
	margin-top: 2px;
}

.BorrarBox{
	width: 300px;
	height: 80px;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	background-color: rgba(225,225,225,0.7);
	position: relative;
	display: none;
}
.close{
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 30px;
	transform: rotate(45deg);
}
button{
	background-color: rgb(48, 61, 65);
	color: white;
	border: 0px;
}
	